* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
    height: 100vh; 
    background-color: #FFFFFF; 
    overflow: hidden;
}

/* ============================= */
/*             Header            */
/* ============================= */

.header {
    text-align: center; 
    margin-top: 20px;
    margin-bottom: 150px; 
}

.logo {
    width: 60px; 
    margin-bottom: 5px; 
}

.website-name {
    font-size: 36px;
    font-weight: 100;
    color: #000000;
    opacity: 80%; 
    margin-top: 0px; 
}

/* ============================= */
/*      Login Form Container     */
/* ============================= */

.login-container {
    text-align: center; 
    width: 400px; 
}

/* ============================= */
/*          Input Fields         */
/* ============================= */

.input-field {
    width: 100%; 
    padding: 12px; 
    margin-bottom: 10px; 
    border: none;
    border-radius: 5px; 
    background: #d6d6d6; 
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
}

.input-field:focus { 
    outline: 2px solid #007BFF; 
}

/* ============================= */
/*          Login Button         */
/* ============================= */

.login-button {
    width: 100%; 
    padding: 12px; 
    background: #007BFF; 
    color: white; 
    font-size: 16px;
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    margin-top: 10px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); 
}

.login-button:hover {
    background: #0056b3; 
}

/* ============================= */
/*     Sign-up Text & Link       */
/* ============================= */

.signup-text {
    margin-top: 10px;
    font-size: 14px;
}

.signup-text a {
    color: #007BFF;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline; 
}
